[Desktop Entry]
Encoding=UTF-8
Name=QnodeCoin Core
Comment=QnodeCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem QnodeCoin peer-to-peer Netzwerk
Comment[fr]=QnodeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=QnodeCoin, eşten eşe kriptografik sanal para birimi
Exec=qnodecoin-qt %u
Terminal=false
Type=Application
Icon=qnodecoin128
MimeType=x-scheme-handler/qnodecoin;
Categories=Office;Finance;
